body {
    background: #857676;
    padding: 30px;
}

  .imagemsocial {
     width: 100%;
}

  .prinicipal {
    background: #221c1c;
}
  .titulo-principal {
      padding-left: 20px;
}
  .titulo-centralizado {
      text-align: center
}
  p {
      text-align: center;
}
  #missão {
      font-size: 20px
}

  em strong {
  color: rgb(221, 29, 29);
}

 .itens {
     font-style: italic
}

 .ajuda {
    background: #924848;
    padding: 20px;

}
  ul {
    display: inline;
    vertical-align: top;
    width: 20%;
    margin right: 15%;
}   

  .imagemvida {
  width: 50%;
}